@import 'mixins';

.styleguide--head {
  @include clearfix;
}

.styleguide--header {
  font-size: 2em;
  color: #333;
}

.styleguide--subheader {
  font-size: 1.5em;
  color: #333;
}

.styleguide--main-nav {
  list-style: none;
  display: block;
  float: left;
  width: 100%;
  background-color: #333;
}

.styleguide--main-nav li {
  float: left;
}

.styleguide--main-nav li a {
  color: #FFF;
  padding: {
    left: 0.4em;
    right: 0.4em;
    top: 0.5em;
    bottom: 0.5em;
  }
  display: block;
  text-decoration: none;
}

.styleguide--main-nav li a:hover {
  background-color: #444;
}

.styleguide--matter-item {
  display: block;
  @include clearfix;
  padding: {
    left: 0.5em;
    right: 0.5em;
    top: 0.5em;
    bottom: 3em;
  }

}

.styleguide--container {
  width: 100%;
  display: block;
  float: left;
}

.styleguide--colour-block {
  display: block;
  float: left;
  margin-bottom: 1em;
}

.styleguide--colour-block-text {
  display: block;
  float: left;
  width: 100%;
}

.styleguide--colour-block-colour {
  border: solid 1px #333;
  width: 4em;
  height: 4em;
  margin: 0 auto;
  float: left;
  @include clearfix;
}


